.top a {
  gap: 20px;
}

.images {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.images img {
  height: 30;
  width: 40;
}

.list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 1000px) {
  .top a {
    gap: 30px;
    justify-items: center;
  }

  .images {
    padding: 30px;
  }
}
